.nodiv {
    display:inline-block;
    _display: inline;
}

.noborder {
  border:0;
  background-color:#ffffff;
  color:#000000;
}

.noborder2 {
  border-left-style: hidden;
  border-top-style: hidden;
  border-bottom-style: hidden;
}

.noborder3 {
  border-right-style: hidden;
  border-top-style: hidden;
  border-bottom-style: hidden;
}

.casttbl {
  background-color:gray;
  border-radius: 10px;
  text-align: center;
  height: 24px;
  width:180px;
}

.stafftbl {
  background-color:pink;
  border-radius: 10px;
  text-align: center;
  margin-top: 8px;
  padding: 1px;
}

.stafftbl2 {
  background-color:#ddd;
  border-radius: 10px;
  text-align: center;
  margin-top: 8px;
  padding: 1px;
}

.panel_absence {
  border-color: #ddd;
  background-color: silver;
}

.link {
  color:blue;
  text-decoration:underline;
  cursor:pointer;
}

.link2 {
  color:black;
  text-decoration:none;
  cursor:pointer;
}

.radio, .checkbox {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

input {
  height: 30px;
}

select {
  height: 30px;
}

tr {
  height: 30px;
}

.num {
  text-align: right
}
  
/* 背景色(青)字色(白) */
.TBL_BLUE{
  color:white;
  background-color:blue;
}

/* 背景色(水色) */
.TBL_AQUA{
  background-color:aqua;
  font-weight:bold;
}

/* 背景色(灰色) */
.TBL_SILVER{
  background-color:silver;
}

/* ボタン色（青） */
.BTN_BLUE{
  color:white;
  background-color:blue;
  font-weight:bold;
  height: 30px;
  width: 60px;
}

/* 新規追加ボタン[+] */
.addBtn{
  text-align: center;
  vertical-align: middle;
  height: 26px;
  font-size: 1.4em;
  font-weight: bold;
  background-color: aqua;
  border-style: none;
  border-radius: 10px;
}

/* 削除ボタン[-] */
.delBtn{
  text-align: center;
  vertical-align: middle;
  height: 26px;
  font-size: 1.4em;
  font-weight: bold;
  background-color: orange;
  border-style: none;
  border-radius: 10px;
  text-align: center;
}

#all_work, #all_enter{
  background-color:Pink;
}

#all_rwork, #all_ready, #all_staff{
  background-color:Aquamarine;
}

#all_back, #all_rest, #all_absence, #all_cancel{
  background-color:LightGrey;
}

html,
body {
  width: 100%; height: 100%; margin: 0; padding: 0;
}

.box {
  position: relative;
  width: 100%;
  height: auto;
}
.box_rea {
  position: relative;
  width: 40%;
  height: 680px;
}
.box_sta {
  position: relative;
  width: 40%;
  height: 300px;
}
.box_pre {
  position: relative;
  width: 33%;
  height: 780px;
}
.box_flo {
  position: relative;
  width: 100%;
  height: 800px;
}
.box_flo2 {
  position: relative;
  width: 100%;
  height: 720px;
}
.box_cus {
  position: relative;
  height: 800px;
}
.box_cus2 {
  position: relative;
  width: 100%;
  height: 330px;
}
.box_abs {
  position: relative;
  width: 100%;
  height: 300px;
}
.box_another {
  position: relative;
  width: 100%;
  height: 100px;
}
.ratio-1_1:before {
  content: "";
  display: block;
  padding-top: 100%; /* 1:1 */
}
.ratio-1_3:before {
  content: "";
  display: block;
  padding-top: 0%; /* 1:1 */
}
.inner {
  -webkit-overflow-scrolling:touch;
  overflow:auto;
  /*position: absolute;*/
  width: 100%;
  height: 95%;
}
.inner_pre {
  -webkit-overflow-scrolling:touch;
  overflow:auto;
  height: 95%;
  padding:0px 50px 0px 0px;
  background-color:#FFA500;
  color:#000;
  font-size:14px;
}
.inner_pre::-webkit-scrollbar {
  background: transparent;
  height: 7px;
  overflow: visible;
  width: 13px;
}
.inner_pre::-webkit-scrollbar-thumb {
  border-left: solid white;
  background-color: rgba(0, 0, 0, 0.2);
}
.inner_rea {
  -webkit-overflow-scrolling:touch;
  overflow:auto;
  height: 90%;
  padding:0px 40px 0px 0px;
  background-color:#FFA500;
  color:#000;
  font-size:14px;
}
.inner_rea::-webkit-scrollbar {
  background: transparent;
  height: 7px;
  overflow: visible;
  width: 13px;
}
.inner_rea::-webkit-scrollbar-thumb {
  border-left: solid white;
  background-color: rgba(0, 0, 0, 0.2);
}
.inner_another {
  height: 66%;
  background-color:#F9F9F9;
  color:#000;
  font-size:14px;
}
.inner_another::-webkit-scrollbar {
  background: transparent;
  height: 7px;
  overflow: visible;
  width: 13px;
}
.inner_another::-webkit-scrollbar-thumb {
  border-left: solid white;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-left {
  float: left;
}
.btn-right {
  float: right;
}
.engborad {
  width: 80%;
  text-align:center
}
.bigbtn {
  -webkit-appearance: none;
  height: 50px;
  margin: 2px;
  border-radius:5px;
  font-size: 1.4em;
  font-weight: bold;
}
.dflbtn {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color:#D3D3D3;
  border-radius:5px;
  font-size: 1.4em;
  font-weight: bold;
}
.dflbtn2 {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color:#A9A9A9;
  border-radius:5px;
  font-size: 1.4em;
  font-weight: bold;
}
.panel-heading2 {
  padding: 5px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
  /*background-color: #f5f5f5;*/
  border-color: #ddd;
}
.errmsg {
  color:red;
}
.hidemsg {
  color:white;
}
.warnmsg {
  color:yellow;
}
.infomsg {
  font-size: 20px;
  color:blue;
}
.divcenter{
  width:auto;
  text-align : center;
}
.nos{
  font-size: 100px;
  color:blue;
  text-align : center;
}
.rel{
  font-size: 20px;
  text-align : center;
}
.main {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  cursor:pointer;
}
.main div   {
  width: 80%;
  margin: 0 auto;
}
.modal-css{
	width:100%;
	top:0;
	left:0;
}
@media print {
    .modal-open > * {
        display: none !important;
    }
    .modal-open > .modal {
        display: inherit !important;
        position: inherit !important;
    }
}
.off{display:none}